::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2%;
}

.input {
  width: 20%;
  padding: 10px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gridContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.dataContainer {
  background-color: #f7f2f2;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.heading {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.text {
  font-size: 14px;
  color: rgb(114, 71, 71);
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttonDown {
  background-color: #68dfcf;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}